/* theme color */
$--color-primary: $color-accent;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';

.el-form-item__label {
  @include screensize-sm {
    line-height: initial;
  }
}
.el-checkbox {
  line-height: 40px;
}
.el-input,
.el-select {
  width: 100% !important;
}
