@import 'variables';
@mixin screensize-sm {
  @media screen and (max-width: $breakpoint-sm - 1) {
    @content;
  }
}

@mixin screensize-lg {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

%hoverOpacity {
  cursor: pointer;
  transition: opacity $transition-default;
  &:hover {
    opacity: 0.6;
  }
}

%fade {
  &.fade-enter-active,
  &.fade-leave-active {
    transition: opacity $transition-default;
  }
  &.fade-enter,
  &.fade-leave-to {
    opacity: 0;
  }
}
